# WIP
*.wip

# Node Modules folder
node_modules/

# env
.env
.env.local

# Next folder
.next/

# VSCode
.vscode/

# Build folder
production/

# Local Netlify folder
.netlify/

# Database
database/
*.sqlite
*.db

# ESLint
.eslintrc

# Backup
backups/

# misc
*.old
.DS_Store
.vercel
agent/
.cursor/
