# Node Modules folder
node_modules/

# env
.env

# Next folder
.next/

# Build folder
production/

# Local Netlify folder
.netlify/

# Database
database/
*.sqlite
*.db

# ESLint
.eslintrc

# Backup
backups/

# misc
*.old
.DS_Store
